body {
    height: 100vh;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}

header h1 {
    text-transform: uppercase;
    font-family: monospace;
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
}

header a {
    text-decoration: none;
    text-align: center;
}

form {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
    gap: 6% 0%;
}

form label {
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

form input {
    text-align: center;
    font-family: monospace;
    width: 60%;
}

button {
    font-family: monospace;
    letter-spacing: 3px;
    background-color: black;
    color: white;
    border: none;
    padding: 0.70%;
    width: 35%;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    padding: 0% 8%;
}

section h1 {
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 3px;
    text-align: center;
}

ul {
    list-style-type: decimal;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

li {
    font-family: monospace;
    letter-spacing: 3px;
    text-transform: uppercase;
}

section a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: monospace;
    color: black;
    text-align: center;
}

#button {
    font-family: monospace;
    letter-spacing: 3px;
    background-color: black;
    color: white;
    padding: 0.45%;
    width: 25%;
    text-align: center;
}

main {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
}

main img {
    height: 200px;
    width: 200px;
}

main p {
    text-transform: uppercase;
    font-family: monospace;
    line-height: 20px;
    text-align: center;
}

main a {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    font-family: monospace;
    letter-spacing: 3px;
    color: white;
    padding: 1%;
    background-color: black;
    text-align: center;
}

main h1 {
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    margin: 4% 0%;
    text-align: center;
}
